{
  "presets": ["next/babel"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "python"],
        "plugins": ["line-numbers", "line-highlight"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
