@import "tailwindcss/base";

@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
}

body {
  background-color: theme("colors.foreground");
}

h1 {
  @apply text-6xl;
}
h2 {
  @apply text-5xl;
}
h3 {
  @apply text-4xl;
}
h4 {
  @apply text-3xl;
}
h5 {
  @apply text-2xl;
}
h6 {
  @apply text-xl;
}
p {
  @apply text-base;
}
.markdown {
  font-size: inherit;
}
.markdown a {
  color: theme("colors.accent.dark");
}
.markdown p {
  font-size: inherit;
}
.markdown a:hover {
  color: theme("colors.accent.mid");
  text-decoration: underline;
}
.markdown h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

.with-bg {
  background-color: #edf5e1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.25'%3E%3Cpolygon fill='%23bfcfc9' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2390a9b2' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2362849a' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23335e83' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2305386b' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";
